<div class='card'
 *ngIf='employee'>
  <div class='card-header'>
    {{pageTitle + ': ' + employee.employeeName}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Name:</div>
          <div class='col-md-8'>{{employee.employeeName}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Description:</div>
          <div class='col-md-8'>{{employee.description}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>JoinedDate:</div>
          <div class='col-md-8'>{{employee.joinedDate}}</div>
        </div>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <img class='center-block img-responsive'
             [style.width.px]='200'
             [style.margin.px]='2'
             [src]='employee.imageUrl'
             [title]='employee.employeeName'>
      </div>
  <div class='card-footer'>
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
  </div>
